.logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    margin-right: 40px
}

.topbar .wrapper .right {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    /* background-color: #fff; */
}

/* .topbar .wrapper .right .darkMode {
    margin-right: 60px;
    transition: all 1s ease-in
} */

.topbar .wrapper .right .darkMode:hover {
    /* cursor: pointer; */
    /* -webkit-filter: invert(38%) sepia(79%) saturate(658%) hue-rotate(301deg) brightness(88%) contrast(95%); */
    /* filter: invert(38%) sepia(79%) saturate(658%) hue-rotate(301deg) brightness(88%) contrast(95%); */
    transition: all 1s ease-in
}

.topbar .wrapper .right .hamburger {
    /* width: 25px; */
    width: 19.4px;
    /* height: 21px; */
    height: 16.8px;
    /* display: -webkit-flex; */
    /* display: flex; */
    -webkit-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.topbar .wrapper .right .hamburger span {
    width: 100%;
    height: 3px;
    z-index: 3;
    border-radius: 7px;
    /* background-color: #15023a; */
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: all 1s ease
}

.topbar .wrapper .right .hamburger:hover span {
    /* -webkit-filter: invert(38%) sepia(79%) saturate(658%) hue-rotate(301deg) brightness(88%) contrast(95%); */
    /* filter: invert(38%) sepia(79%) saturate(658%) hue-rotate(301deg) brightness(88%) contrast(95%); */
    transition: all 1s ease
}


.topbar.active .hamburger span:first-child {
    /* background-color: #fff; */
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.topbar.active .hamburger span:nth-child(2) {
    opacity: 0
}

.topbar.active .hamburger span:nth-child(3) {
    /* background-color: #fff; */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.menu{
  display: flex;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    transition: all .5s ease-in-out
  }
  .menu.active {
      right: 0
  }
}
